@page "/Items/{gameid:int}"
@using ThroughTheSnow_Yuv_Sap_Dani.Shared.Entities
@inject HttpClient Http
@inject NavigationManager nav

@if (thisGame != null)
{
    
    <h3>שם המשחק:  @thisGame.GameName </h3>

    <EditForm Model="Thisitem" OnSubmit="SendForm">
        הוספת הנחייה: <InputText @bind-Value="thisGame.GameInstruction"></InputText> @*להוסיף כפתור וספירת תווים*@
        יצירת פריטים לשאלה
        ערך הפריט
        <MudSwitch @bind-Checked="@_isOpen" Color="Color.Primary" />


    </EditForm>

        }

        @code {
            [Parameter]
            public int gameid { get; set; }

            string question = "";
            string msg = "";
            Game thisGame;
            Item Thisitem = new Item();

            protected async override Task OnInitializedAsync()
            {
                var getResponse = await Http.GetAsync("api/Items/" + gameid);
                if (getResponse.IsSuccessStatusCode == true)
                {
                    thisGame = getResponse.Content.ReadFromJsonAsync<Game>().Result;
                    msg = "Success";
                }
                //else
                //{
                //    string error = getResponse.Content.ReadAsStringAsync().Result;
                //    if (error == "User not login" || error == "Empty Session")
                //    {
                //        nav.NavigateTo("./");
                //    }
                else
                {
                    msg = "שגיאת רשת";
                }
            }


            void SendForm()
            {
                msg = "ok";
            }



            }




        
