@page "/index"
    <!doctype html>
    <html lang="he">
    <NavGameBar></NavGameBar>

    <body>
        @*פליז שזה עובד*@

            <div id="gameArea" >
                <!--src = הקישור של דף המשחק שלכם (לא קובץ האנימייט)-->
                <!--<iframe id="gameIframe" src="testing size.html" frameBorder="0" allowfullscreen="">Browser not compatible.</iframe>-->
      
            </div>
 
    </body>

</html>