@page "/"
@inject HttpClient Http
@inject NavigationManager nav

<body>
<NavBar></NavBar>

        <div id="startBackG" style="margin-top:80px">

            <div id="downDiv">
                <h2 id="EmailTitle">הזינו כתובת מייל</h2>


                <MudTextField id="EmailAdress" @bind-Value="inputMail" Placeholder="כתובת מייל" DisableUnderLine="true"></MudTextField>
                <br />

                <MudButton Class="buttonGame" Variant="Variant.Filled" OnClick="loginUser">כניסה</MudButton>
                <h3 class="ErrorTitle">@msg</h3>


            </div>

        </div>

</body>

    @code
 { string inputMail = "";


        string msg = "";

        async Task loginUser()
        {


            if (string.IsNullOrEmpty(inputMail) == false)
            {
                // קריאה לקוטרולר
                var login = await Http.GetAsync("api/Users/" + inputMail);

                if (login.IsSuccessStatusCode == true)
                {
                    int userId = login.Content.ReadFromJsonAsync<int>().Result;
                    // פנייה לעמוד גיימז שהכתובת שלו היא של המשתמש שהוזן
                    nav.NavigateTo("./Games/" + userId);

                    // אין צורך לשלוח הודעה כי המשתמש מופנה לדף
                    //msg = "login worked";
                }

                else
                {
                    msg = "*משתמש לא קיים";
                }
            }

            else
            {
                msg = "*יש להקליד כתובת מייל";
            }


        } }