@page "/"
@inject HttpClient Http
@inject NavigationManager nav
   
 <div id="startBackG">

     <div id="downDiv">
         <h2 id="EmailTitle">הזינו כתובת מייל</h2>
         

         <MudTextField id="EmailAdress" @bind-Value="inputMail"Placeholder="כתובת מייל" DisableUnderLine="true"  ></MudTextField>
         <MudButton Class="buttonGame" Variant="Variant.Filled" OnClick="loginUser">כניסה</MudButton>
         <p>@msg</p>

     </div>
    </div>

    @code
 { string inputMail = "";


        string msg = "";

        async Task loginUser()
        {

            // תנאי שבודק האם המשתמש הזין מייל
            // IsNullOrEmptyכשרוצים להשתמש ב
            // תמיד נכתוב סוג משתנה סטרינג אם השמצנה עצמו לא מחרוזתי נמיר אותו לסטרינג בתוך הסוגריים
            if (string.IsNullOrEmpty(inputMail) == false)
            {
                // קריאה לקוטרולר
                var login = await Http.GetAsync("api/Users/" + inputMail);

                if (login.IsSuccessStatusCode == true)
                {
                    int userId = login.Content.ReadFromJsonAsync<int>().Result;
                    // פנייה לעמוד גיימז שהכתובת שלו היא של המשתמש שהוזן
                    nav.NavigateTo("./Games/" + userId);

                    // אין צורך לשלוח הודעה כי המשתמש מופנה לדף
                    //msg = "login worked";
                }

                else
                {
                    msg = "login failed";
                }
            }

            else
            {
                msg = "יש להקליד כתובת מייל";
            }


        } }