<MudDialog Class="dialogAbout">



    <DialogContent>
        <h2>אודות</h2>
        <h3>אפיון ופיתוח</h3>
        <p>ספיר ג'יבלי,יובל כהן ודניאל רביב</p>
        <h3>אופיין ופותח במסגרת פרויקט בקורסים</h3>
        <p>סביבות לימוד אינטראקטיביות 2 + תכנות 2 +תכנות אינטראקטיבי 2</p>
        <h3>תשפ"ב - הפקולטה לטכנולוגיות למידה</h3>
        <a id="faculta" href="https://www.hit.ac.il/telem/overview">
            <img src="/css/images/50 logo HIT.png" height="70" width="100">
        </a>

    </DialogContent>


</MudDialog>

@code {


    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

}
