@inject IDialogService Dialog
@inject NavigationManager nav

<div id="container">
    <header>
        <nav>
            <div id="right">
                <img id="logo" src="/css/images/Group 306.png" />

            </div>
            <span id="left">
                <a id="howToPlay" @onclick="@((e) => OpenDialog2(maxWidth))">איך משחקים?</a>
                <a id="about" @onclick="@((e) => OpenDialog(closeButton))">אודות</a>
                <a @onclick="takeme">לעורך</a>
            </span>

        </nav>
    </header>
   

</div>

@code {
    DialogOptions closeButton = new DialogOptions() { CloseButton = true };
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium,  CloseButton = true };

    private void OpenDialog(DialogOptions options)
    {
        Dialog.Show<About>("", options);

    }

    private void OpenDialog2(DialogOptions options)
    {
        Dialog.Show<HowToPlay>("", options);

    }


    void takeme(){
        nav.NavigateTo("./");
}


}
